h1 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #FFFFFF;
  background-color: #0c0412 !important;
}


header, nav {
	text-align: center;
	background-color:black;
}

nav a {
	padding:15px;
	padding-bottom:4px;
	font-size:1.8em;
	text-decoration:none;
	color:white;
}
nav a.current-page {
	color: gold;
	font-size:2.0em;
}

main {
	display:flex;
	text-align: center;
	justify-content:center;
	background-color: #0c0412;
}

main img {
	border-radius:8px;
}

nav a:hover {
	color:gold;
	transition: 1s;
	border-bottom:2px gold solid;
}

footer {
	color:orange;
	background-color:black;
	text-align: center;
	position: relative;
	height:120px;
	font-size:10px;
}

footer img {
	border-radius:8px;
	max-width:10%;
	position:absolute;
	left:0;
}

table {
	margin: 0px auto;
}

td {
	padding-right:10px;
	font-size: 1.3em;
}

td strong {
	color:orange;
}

ul {
	width:500px;
	margin: 0 auto;
	text-align: left;
}

.hobby {
	color: yellow;
}

#content iframe {
	display: block;
	justify-content: center;
	margin: 20px 0;
}